/* ========================== CSS Reset ========================== */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
    padding: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* ========================================================== */

body {
    /* background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: hsl(225, 100%, 94%); */
    /* order does not matter */
    /* But for background-size it may only be included immediatly after
        position, seperated with '/' charater like center/cover or center/80% 
        bg-position and size should follow each other*/
    background: hsl(225, 100%, 94%) top/100%
        url("images/pattern-background-desktop.svg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Red Hat Display", sans-serif;
}

.container {
    background-color: white;
    border-radius: 1.25em;
    width: 450px;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */ 
    /* align-items: center; */
    box-shadow: 0px 1em 2.5em rgba(112, 144, 176, 0.20);
}

.hero {
    /* starts clockwise starting from top left */
    border-radius: 1.25em 1.25em 0 0;
}

h1 {
    color: hsl(223, 47%, 23%);
    font-size: 1.75rem;
    line-height: 1.428em;
    /* identical to box height, or 40px */
    letter-spacing: 0.02em;
    font-weight: 700;
    margin: 2.75rem 4.1em 0;
}
p {
    color: hsl(224, 23%, 55%);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0.005em;
    margin-top: 1em;
    padding: 0 4.68em;
}

.pricing { 
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.75em;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 24px;
    margin: 1.25rem 3em 0;
}
.plan {
    margin-left: 1.25rem;
    line-height: 142%;
}

#plan {
    color: hsl(223, 47%, 23%);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.015em;
}

#price {
    color: hsl(224, 23%, 55%);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.015em;
    padding-top: 0.25rem;
}

#change {
    color: hsl(245, 75%, 52%);
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.015em;
    margin-left: 5.875rem;
    transition: 0.3s ease;
}

#change:hover {
    text-decoration: none;
    cursor: pointer;
}

.button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin: 2rem 3rem;
    padding: 0.875rem 6.25rem;
    border-radius: 0.625em;
    transition: 0.3s ease;
}

.button:hover {
   box-shadow: 0px 15px 30px rgba(112, 144, 176, 0.20);
   cursor: pointer;
}

.cancel {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.055em;
    margin-bottom: 3rem;
    transition: 0.3s ease;
}

#cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}